
<ion-header no-border>
  <ion-navbar transparent color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <div class="login-container">
    <img class="logo" src="./assets/ionic.png" />
    <!--*********** Form ***********-->

    <form [formGroup]="registerForm" (submit)="registerUser()" novalidate>

      <ion-item>
        <ion-label stacked>이름</ion-label>
        <ion-input tappable formControlName="profileName" type="text" placeholder="이름을 입력하세요." [class.invalid]="!registerForm.controls.profileName.valid && registerForm.controls.profileName.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>이메일</ion-label>
        <ion-input tappable formControlName="email" type="email" placeholder="이메일 주소를 입력하세요." [class.invalid]="!registerForm.controls.email.valid && registerForm.controls.email.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>전화번호</ion-label>
        <ion-input tappable formControlName="phone"  type="tel" placeholder="전화번호를 입력하세요." [class.invalid]="!registerForm.controls.phone.valid && registerForm.controls.phone.dirty"></ion-input>
      </ion-item>




      <ion-item>
        <ion-label stacked>비밀번호</ion-label>
        <ion-input tappable formControlName="password" type="password" placeholder="비밀번호를 입력하세요." [class.invalid]="!registerForm.controls.password.valid && registerForm.controls.password.dirty"></ion-input>
      </ion-item>



      <ion-item class="error-message">
        <p *ngIf="!registerForm.controls.profileName.valid  &&
                registerForm.controls.profileName.dirty">*Please enter your name.</p>
        <p *ngIf="!registerForm.controls.email.valid  &&
                registerForm.controls.email.dirty">*Please enter a valid email.</p>
        <p *ngIf="!registerForm.controls.phone.valid  &&
                registerForm.controls.phone.dirty">*Please enter phone number.</p>
        <p *ngIf="!registerForm.controls.password.valid  &&
        registerForm.controls.password.dirty">*Password needs more than 6 characters.</p>
      </ion-item>
        <button ion-button full type="submit" mode="ios" color="orange">
            회원가입 하러가기
        </button>
    </form>
  </div>
</ion-content>
<ion-footer color="blue2">

</ion-footer>

